
    <div>
        <img ng-src=" {{event.imageUrl}} " alt="{{event.name ">
        <!--<button class="btn btn-primary" ng-click="scrollToSession()">Scroll To Session</button>-->
        <div class="row ">
            <div class="col-md-12 ">
                <h2>{{event.name}}</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3 ">
                <div><strong>Date: </strong>{{event.date}}</div>
                <div><strong>Time: </strong>{{event.time}}</div>
            </div>
            <div class="col-md-4 ">
                <address>
                    <strong>Address:</strong><br> {{event.location.address}}
                    <br> {{event.location.city}}, {{event.location.province}}
                </address>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-5">
                Level: <select ng-model="query.level">
                        <option value="">All</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                Sort By: <select ng-model="sortOrder">
                        <option value=""></option>
                        <option value="level">Level</option>
                        <option value="duration">Duration</option>
                        <option value="-upVoteCount">Upvotes</option>
                    </select>
            </div>
        </div>
        <h3>Sessions</h3>


        <div ng-repeat="session in event.sessions | filter:query | orderBy:sortOrder" id="session{{session.id}}">
            <div class="row">

                <div class="well col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="col-md-1 votingWidget">
                                <div class="votingButton" ng-click="upvoteSession(session)">
                                    <div><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
                                </div>
                                <div class="badge badge-inverse">
                                    <div>{{session.upVoteCount}}</div>
                                </div>
                                <div class="votingButton" ng-click="downvoteSession(session)" ng-show="session.upVoteCount>0">
                                    <div><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <h4 class="well-title">{{session.name}}</h4>
                            <h6>{{session.presenter}}</h6>
                            <span>{{session.duration | duration}}</span><br>
                            <span>{{session.level}}</span>
                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
