<div>
        <div class="container">
            <h1>New Event</h1>
            <hr>
            <form name="editEventForm">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-12" for="eventName">Event Name: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-sm-6" required ng-model="event.name" id="eventName" placeholder="Name of Event">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-12" for="eventDate">Event Date: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-sm-6" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" id="eventDate" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-12" for="eventTime">Event Time: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-sm-6" ng-model="event.time" id="eventTime" placeholder="Time of Event">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-12" for="eventAddress">Event Location: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="eventAddress" ng-model="event.location.address" placeholder="Address of Event">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3" style="padding-left:0px">
                            <input type="text" class="form-control col-sm-6" ng-model="event.location.city" id="eventCity" placeholder="City">
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control col-sm-6" ng-model="event.location.province" id="eventProvince" placeholder="Province/State">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="eventImageUrl">Image URL: </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-sm-6" ng-model="event.imageUrl" id="eventImageUrl" placeholder="Image URL">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img ng-src="{{event.imageUrl}}">
                    </div>
                    <div class="col-sm-12" style="padding-top:15px">


                        <button type="submit" ng-click="saveEvent(event, editEventForm)" ng-disabled="editEventForm.$invalid" class="btn btn-primary">Save</button>
                        <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
                    </div>

                </fieldset>
            </form>
        </div>

    </div>

